
# Large datasets
data/
*.tar.gz
*.zip
*.rar

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store

# Checkpoints
checkpoints/

cifar-10-python/
cifar-10-python/cifar-10-batches-py/
cifar-10-python/cifar-10-batches-py/data_batch_1
cifar-10-python/cifar-10-batches-py/data_batch_2
cifar-10-python/cifar-10-batches-py/data_batch_3
cifar-10-python/cifar-10-batches-py/data_batch_4
cifar-10-python/cifar-10-batches-py/data_batch_5
cifar-10-python/cifar-10-batches-py/test_batch
cifar-10-python/cifar-10-batches-py/batches.meta

