
# Large datasets
data/
*.tar.gz
*.zip
*.rar

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store

# 3rd party data and models
cifar-10-python/
cifar-100-python/
cifar-10/
cifar-100/
*.tgz
*.pth
*.tar

# Checkpoints
checkpoints/
/src/checkpoints

# Logs
logs/

# Results
results/

# TensorBoard
/cifar-10
